/* First Content Section (Text Left, Image Right) */
.content-container-first { display: flex; align-items: center; justify-content: space-between; max-width: 1200px; margin: 50px auto; padding: 20px; }
.image-section-first { width: 50%; display: flex; justify-content: flex-end; }
.image-section-first img { width: 100%; max-width: 450px; height: auto; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); }
.text-section-first { width: 50%; padding-right: 40px; font-size: 18px; color: #06054b; text-align: left; }
.text-section-first h2 { font-size: 28px; margin-bottom: 10px; color: #5148d9; }
.text-section-first p { font-size: 16px; line-height: 1.6; color: #612987; }

/* Button Styling */
.start-building-btn { background-color: #3c8c6f; color: white; text-decoration: none; font-size: 1rem; padding: 10px 20px; border-radius: 5px; transition: background-color 0.3s; display: inline-block; margin-top: 10px; }
.start-building-btn:hover { background-color: #5148d9; }

/* Third Content Section */
.content-container-third { background-color: rgb(5,75,33); text-align: center; padding: 50px 20px; }
.image-section-third img { width: 100%; max-width: 350px; height: auto; border-radius: 8px; border: 4px solid #5148d9; margin-bottom: 20px; }
.text-section-third h2 { font-size: 26px; color: rgb(221,217,225); }
.text-section-third h3 { font-size: 18px; color: #f4f4f4; margin-bottom: 20px; font-weight: normal; }

/* Fourth Content Section */
.content-container-fourth { display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center; background-color: #3c8c6f; color: #fff; padding: 50px 20px; }
.text-section-fourth h2 { font-size: 28px; color: #f4f4f4; margin-bottom: 10px; }
.text-section-fourth h4 { font-size: 18px; color: rgb(242,242,245); max-width: 800px; font-weight: normal; }

/* Fifth Content Section */
.content-container-fifth { display: flex; justify-content: space-between; align-items: center; background-color: rgb(75,5,66); color: white; padding: 50px 20px; max-width: 1200px; margin: auto; }
.contact-details { width: 45%; }
.contact-details h2, .contact-details h3 { color: #fff; }
.contact-item { display: flex; align-items: center; margin-bottom: 15px; }
.contact-item img { width: 30px; height: auto; margin-right: 10px; }
.social-links { margin-top: 20px; }
.social-links a { color: #fff; text-decoration: none; display: block; margin: 5px 0; }

/* Contact form */
.contact-form { width: 45%; background: #fff; padding: 20px; border-radius: 8px; color: black; }
.contact-form form { display: flex; flex-direction: column; }
.contact-form input, .contact-form textarea { width: 95%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px; }
.contact-form button { background-color: #007bff; color: white; padding: 10px; border: none; cursor: pointer; border-radius: 5px; }

/* Active tab is defined globally in assets/css/nav.css */

